/*  your css code here. If applicable */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 1px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1px;
  box-shadow: 0 9px 12px rgba(0.2, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#band {
  list-style: square inside;
  padding: 0;
}

#band li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
